<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDANCE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Add these lines inside the <head> section of your HTML -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module("my-app", []);
        
        app.controller("list-attendance-ctrl", function($scope, $http, $filter){
            $http.get("https://localhost:44318/api/attendance/all")
            .then(function(resp){
                if(resp != null){
                        $scope.att = resp.data;
                    }
                    else{
                        alart("No records found");
                    }
            },function(err){
                $scope.error = err.data;
            });
            $scope.AttendanceList = function() {
                $http.get("https://localhost:44318/api/attendance/all")
                    .then(function(resp) {
                        $scope.att = resp.data;
                    }, function(err) {
                        $scope.error = err.data;
                    });
            };


            $scope.deleteAttendance = function(attendanceId) {
                $http.delete("https://localhost:44318/api/attendance/delete/" + attendanceId)
                .then(function(resp) {
                    $scope.att = $scope.att.filter(function(attendance) {
                        return attendance.AttedanceId !== attendanceId;
                    });
                }, function(err) {
                    console.error(err);
                });
            };

            $scope.IndevidualAttendance = function(employeeId){
                $http.get("https://localhost:44318/api/attendance/employee/" + employeeId)
                .then(function(resp){
                    if(resp != null){
                        $scope.att = resp.data;
                    }
                    else{
                        alart("No records found");
                    }
                },function(err){
                    $scope.error = err.data;
                });
            };

            $scope.SearchAttendanceByDate = function() {
    var formattedDate = $filter('date')($scope.SearchDate, 'yyyy-MM-dd');
    $http.get("https://localhost:44318/api/attendance/bydate/" + formattedDate)
                .then(function(resp){
                    if(resp != null){
                        $scope.att = resp.data;
                    }
                    else{
                        alart("No records found");
                    }
                },function(err){
                    $scope.error = err.data;
                });
            };

            $scope.openUpdateModal = function(attendance) {
                $scope.getCurrentAttendance = function(){
                    $http.get("https://localhost:44318/api/attendance/" + attendance)
                .then(function(resp){
                    if(resp != null){
                        $scope.att = resp.data;
                    }
                    else{
                        alart("No records found");
                    }
                },function(err){
                    $scope.error = err.data;
                });
                }
                $scope.selectedAttendance = angular.copy(attendance); // Create a deep copy of the selected attendance
                $('#updateModal').modal('show');
            };

            $scope.updatedAttendance = function() {
                var updatedAttendance = {
                    EmployeeId: $scope.upEmployeeId,
                    Date: $filter('date')($scope.upDate, 'yyyy-MM-dd'),
                    ClockInTime: $scope.upClockInTime,
                    ClockOutTime: $scope.upClockOutTime
                };
                console.log($scope.selectedAttendance);
                $http.put("https://localhost:44318/api/attendance/update/" + $scope.selectedAttendance, updatedAttendance)
                .then(function(resp) {
                    // Update successful, open the update modal with the updated data
                    $scope.openUpdateModal(updatedAttendance);
                    $scope.AttendanceList();
                    // Optionally, you can reload the list of employee here
                    // to reflect the changes in the list immediately.
                }, function(err) {
                    $scope.updateError = err.data;
                });
                $('#updateModal').modal('hide');
            };

            $scope.closeUpdateModal = function(){
                $('#updateModal').modal('hide');
            }

        });
    </script>

</head>
<body ng-app="my-app" class="container mt-5">
    <div ng-controller="list-attendance-ctrl">
        <div ng-include="'layout/navAadmin.html'"></div>


        <div class="table-responsive">
            
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">AttendanceId</th>
                <th scope="col">EmployeeId</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">ClockInTime</th>
                <th scope="col">ClockOutTime</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr ng-repeat="attendance in att">
                    <td>{{ attendance.AttendanceId }}</td>
                    <td>{{ attendance.EmployeeId }}</td>
                    <td>{{ attendance.Employee.Name }}</td>
                    <td>{{ attendance.Date }}</td>
                    <td>{{ attendance.ClockInTime }}</td>
                    <td>{{ attendance.ClockOutTime }}</td>
                    <td>
                        <!-- <button class="btn btn-danger" ng-click="deleteAttendance(attendance.AttendanceId)">Delete</button> -->
                        <button class="btn btn-primary" ng-click="openUpdateModal(attendance.AttendanceId)">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <form ng-submit="IndevidualAttendance(Search)">
            <div class="form-group">
                <label for="Search">Search</label>
                <input type="number" class="form-control" id="Search" ng-model="Search" placeholder="Enter the Employee Id">
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Search</button>
            </div>
        </form>
        <form ng-submit="SearchAttendanceByDate()">
            <!-- ... other form inputs ... -->
            <div class="form-group">
                <label for="SearchDate">Search by Date</label>
                <input type="date" class="form-control" id="SearchDate" ng-model="SearchDate" placeholder="Select a Date">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Search</button>
            </div>
        </form>
        
        
        <!-- Modal -->
        <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Attendance Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Field</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AttendanceId</td>
                                <td>{{ att.AttendanceId }}</td>
                            </tr>
                            <tr>
                                <td>EmployeeId</td>
                                <td>{{ att.EmployeeId }}</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>{{ att.Date }}</td>
                            </tr>
                            <tr>
                                <td>Clock In-Time</td>
                                <td>{{ att.ClockInTime }}</td>
                            </tr>
                            <tr>
                                <td>Clock Out-Time</td>
                                <td>{{ att.ClockOutTime }}</td>
                            </tr>
                            
                        </tbody>
                                
                    </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        
        <p>{{ error }}</p>  -->
        <!-- modal -->

        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Update Attendance</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeUpdateModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="updatedAttendance()">
                            <div class="form-group">
                                <label for="upEmployeeId">Employee Id</label>
                                <input type="number" class="form-control" id="upEmployeeId" ng-model="upEmployeeId" value="{{ selectedAttendance.EmployeeId }}">
                            </div>
                            <div class="form-group">
                                <label for="upDate">Date</label>
                                <input type="date" class="form-control" id="upDate" ng-model="upDate" value="{{ selectedAttendance.Date }}">
                            </div>
                            <div class="form-group">
                                <label for="upClockInTime">Clock In-Time</label>
                                <input type="datetime-local" class="form-control" id="upClockInTime" ng-model="upClockInTime" value="{{ selectedAttendance.ClockInTime }}">
                            </div>
                            <div class="form-group">
                                <label for="upClockOutTime">Clock Out-Time</label>
                                <input type="datetime-local" class="form-control" id="upClockOutTime" ng-model="upClockOutTime" value="{{ selectedAttendance.ClockOutTime }}">
                            </div>                           
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary form-control">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
