<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD NOTICE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module("my-app", []);
        
        app.controller("create-notice-ctrl", function($scope, $http,){
            $scope.create = function(){
                
                var noticeDTO = {
                    Title: $scope.Title,
                    Content: $scope.Content,
                    Date: $scope.Date
                    
                };
                $http.post("https://localhost:44318/api/notice/create", noticeDTO)
                .then(function(resp){
                    $scope.success = "Notice added Successfully.";
                    console.log("submit called");
                    console.log(resp.data);
                },
                function(err){
                    $scope.error = err.data;
                });
            };
            
        });
       
    </script>
</head>
<body ng-app="my-app">
    <div ng-controller="create-notice-ctrl" class="container mt-5">
        <div ng-include="'layout/navAadmin.html'"></div>
        <form ng-submit="create()">
            <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <input type="text" class="form-control" id="Title" ng-model="Title">
            </div>
            <div class="mb-3">
                <label for="Content" class="form-label">Content</label>
                <input type="text" class="form-control" id="Content" ng-model="Content">
            </div>
            <div class="mb-3">
                <label for="Date" class="form-label">Date</label>
                <input type="datetime-local" class="form-control" id="Date" ng-model="Date">
            </div>
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p>{{ success }}</p>
        <p>{{ error }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
